.lr-submit-btn {
    background-color: #000000 !important; /* Fuerza el color negro */
    color: #ffffff !important;           /* Fuerza el texto blanco */
    width: 100% !important;
    padding: 15px !important;
    border: none !important;
    cursor: pointer !important;
}

.lr-submit-btn:hover {
    background-color: #444444 !important; /* Gris al pasar el mouse */
}